.devcontainer
.env
.eslintcache
.git*
.husky
.vscode
**/*.md
docs/
COPYING
node_modules
packages/**/__tests__
packages/**/coverage/
packages/**/docs/
packages/**/input/
packages/**/output/
packages/**/postman/
packages/**/testing/
packages/conversion-service/junit.xml
packages/**/sample-input/
scripts/
workspace.code-workspace