# This is a template for the environment variables that can
# be used for the dynamic-conversion-controller/conversion-service setup
# The variables given here are for demonstration
# Binary Paths
FFMPEG_PATH="/opt/ffmpeg/bin/ffmpeg"
IMAGE_MAGICK_PATH="/usr/bin/convert"
UNOCONV_PATH="/usr/local/bin/unoconv"
# Conversion-Service configuration options
CONVERTER_DOCUMENT_PRIORITY="imageMagick,ffmpeg,unoconv"
CONVERTER_MEDIA_PRIORITY="ffmpeg,imageMagick,unoconv"
CONVERT_TO_JPG_WITH="ffmpeg"
CONVERT_TO_PNG_WITH="ffmpeg"
CONVERT_TO_BMP_WITH="ffmpeg"
MAX_CONVERSION_TIME="90000"
MAX_CONVERSION_TRIES="1"
WEBSERVICE_PORT="3000"
# Redis controller options
APPLY_DESIRED_STATE_INTERVAL="30"
HEALTH_CHECK_INTERVAL="10"
FILE_TTL="3600"
REDIS_HOST="dcs-redis-server"
REDIS_PORT=6379
REDIS_NS="dcs-redis-ns"
REDIS_QUEUE="dcs-redis-q"
SWAGGER_HOST="http://localhost:3000"
# auto-scaler options
CONTAINER_NAME_PREFIX="redis-dev-mode-container_"
CONTAINER_IMAGE="teamparallax/conversion-service"
CONTAINER_TAG="latest"
# DOCKER_SOCKET_PATH="/var/run/docker.sock"
MAX_WORKER_CONTAINERS="10"
MIN_WORKER_CONTAINERS="2"
TASKS_PER_CONTAINER="5"